
body{
    font-family: arial, sans-serif;
    height: 100%;
    margin: 0;
}
/* Google's fucking wierd viewport div shit */
div#vp{
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    min-width: 980px;
}

/* HEADER STYLE */
   
    nav.header{
        top: 16px;
        position: relative;
        font-size: 13px;
    }

    /* LEFT SIDE */
        div#abst{
            position: absolute;
            margin: 7px 0 0 10px;
        }
        
        #abst a{
            text-decoration: none;
            display:inline-block;
            padding-left: 15px;
            color: black;
            opacity: 0.75;
        }

    /* RIGHT SIDE */
        div.rs{
            float:right;
            display: flex;
            position: relative;
            text-align: right;
            align-items: center;
            padding-right:30px;
            }

        /*GMAIL AND IMAGES STYLE*/
        
            div#gmim{
                display: flex;
            }

            #gmim a{
                text-decoration: none;
                padding-left: 15px;
                color: black;
                opacity: 0.75;
            }
            
        /* GApps and SignIn Style */
            div#gasi{
                display: flex;
            }

            #gasi a{
                text-decoration: none;
                color: #fff;
            }

            div#gapps{
                padding-left: 15px;
                padding-right: 15px;
                
            }

            div#gapps img{
                padding-top: 8px;
                width: 100%;
                height: 15px;
                padding-right: 15px;
            }
            
            div#signin{
                color: #fff;
                border: 1px solid #4285f4;
                font-weight: bold;
                background: #4387fd;
                border-radius: 2px;
                display: inline-block;
                line-height: 28px;
                padding: 0 12px;
                outline: none;
            }
        
/* Middle Page Google Logo, Search Bar, and Search Buttons */
    center{
        height: 233px;
        margin-top: 198px; /* 156 sometimes */ 
        }
    /* Google Logo */
        div#logo{
            padding-bottom: 23px;
        }
    /* Search Bar */


        div#sbcontainer{
            background:#fff;
            display: flex;
            border: 1px solid#dfe1e5;
            box-shadow: none;
            border-radius: 24px;
            z-index: 3;
            height: 44px;
            margin: 0 auto;
            width: 582px;
        }

        img#mgimg{
            width: 14px;
            height: auto;
            padding-top: 15px;
            padding-right: 237px;
            opacity: 40%;
        }
        input.sbinput {
            background-color: transparent;
            border: none;
            margin: 0;
            padding-left: 30px;
            color:rgba(0,0,0,.87);
            word-wrap: break-word;
            outline: none;
            display: flex;
            flex: 100%;
            font-size: 16px;
            line-height: 34px;
            height: 40px !important;
            
        }

    /* Search Buttons */
        div.searchbuttons{
            display: inline-flex;
            text-align: center;  
            padding-top: 19px;
            top: 53px;     
            padding-right: 14px;
        }
        
        div.searchbuttons p{
            background-color:#f2f2f2;
            border: 1px solid#f2f2f2;
            border-radius: 4px;
            color:#5F6368;
            font-family: arial,sans-serif;
            font-size: 14px;
            margin: 11px 6px;
            padding: 0 16px;
            line-height: 33px;
            height: 34px;
            min-width: 3px;
            text-align: center;
            cursor: pointer;
            user-select: none;
        }